/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../media/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../media/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-light";
  src: url("../media/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-medium";
  src: url("../media/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Shrikhand";
  src: url("../media/fonts/Shrikhand/Shrikhand-Regular.ttf");
}

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

body {
  width: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@media (min-width: 1200px) {
  body {
    max-width: 1400px;
    margin: auto;
  }
}

header {
  position: relative;
  width: 100%;
}

header a {
  position: absolute;
  top: 35%;
  left: 5%;
  z-index: 2;
}

header i {
  font-size: 1.1em;
  color: #383838;
}

header .logo {
  position: relative;
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-box-shadow: 0 5px 5px -5px #d1d1d1;
          box-shadow: 0 5px 5px -5px #d1d1d1;
}

@media (min-width: 1024px) {
  header .logo {
    -webkit-box-shadow: 0 0 0 0;
            box-shadow: 0 0 0 0;
  }
}

header .logo img {
  height: 30px;
  width: 160px;
  margin: auto;
}

@media (min-width: 1024px) {
  header {
    width: 50%;
  }
}

footer {
  background-color: #383838;
  color: #fff;
  height: 195px;
}

footer h2 {
  width: 90%;
  height: 60px;
  margin: auto;
  font-family: "Shrikhand";
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__elements {
  width: 90%;
  height: 55%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer__elements i {
  text-align: left;
  width: 30px;
}

footer .footer__elements a {
  text-decoration: none;
  color: #fff;
}

.btn {
  text-decoration: none;
  height: 50px;
  border-radius: 25px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 5px #d1d1d1;
          box-shadow: 0 5px 5px #d1d1d1;
}

@media (min-width: 1024px) {
  .btn {
    border-radius: 10px;
    max-width: 400px;
  }
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fface8), to(#ae80e5));
  background-image: linear-gradient(#fface8, #ae80e5);
  -webkit-box-shadow: 0 5px 5px #848484;
          box-shadow: 0 5px 5px #848484;
}

.operating-btn {
  height: 75px;
  background-color: whitesmoke;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px #d1d1d1;
          box-shadow: 0 5px 10px #d1d1d1;
}

@media (min-width: 1024px) {
  .operating-btn {
    border-radius: 10px;
  }
}

.operating-btn:hover {
  background-color: #f2eafb;
}

.operating-btn:hover > i {
  color: #9356dc;
}

.menu-btn {
  height: 70px;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px #d1d1d1;
          box-shadow: 0 5px 10px #d1d1d1;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: auto;
  cursor: pointer;
}

.menu-btn__text {
  white-space: nowrap;
  margin-left: 10px;
  min-width: 50%;
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-btn__text strong {
  width: 100%;
  overflow: hidden;
  height: 20px;
  text-overflow: ellipsis;
  font-family: "Roboto-bold";
  font-size: 1.1em;
}

.menu-btn__text p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
}

.menu-btn span {
  font-family: "Roboto-bold";
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 18px;
  margin-right: 20px;
  margin-left: 20px;
  width: 20%;
  text-align: right;
}

.menu-btn .cont {
  /*position: relative;*/
  background-color: #99e2d0;
  color: #99e2d0;
  min-width: 70px;
  margin-right: -70px;
  height: 100%;
  border-radius: 0 15px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*transform: translateX(1%);*/
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.menu-btn .cont i {
  background-color: #fff;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.menu-btn:hover > .cont {
  margin: 0;
  /*transform: translateX(0);*/
}

.menu-btn:hover > .cont i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu-btn:focus {
  outline: none;
}

.home-header,
.location-box,
.home-main {
  -webkit-animation: spinner-after 4.1s linear;
          animation: spinner-after 4.1s linear;
}

.ls {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  opacity: 0;
  -webkit-animation: spinner-while 4s linear;
          animation: spinner-while 4s linear;
}

.loading-spinner {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid #fff 8px;
  border-right-color: #9356dc;
  border-left-color: #9356dc;
  -webkit-animation: spin 1s ease-in-out infinite;
          animation: spin 1s ease-in-out infinite;
}

@media (min-width: 1024px) {
  .header-location {
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 5px 8px -5px #d1d1d1;
            box-shadow: 0 5px 8px -5px #d1d1d1;
  }
}

.location-box {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location-box i {
  color: #383838;
}

@media (min-width: 1024px) {
  .location-box i {
    width: 10%;
  }
}

@media (min-width: 1024px) {
  .location-box__content {
    margin-left: 40px;
    width: 50%;
    height: 60%;
    background-color: #eaeaea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 5px #d1d1d1;
            box-shadow: 0 1px 5px #d1d1d1;
  }
}

.location-box input {
  outline: none;
  border: 0;
  width: 80%;
  background-color: #eaeaea;
  font-family: "Roboto-bold";
}

.location-box input::-webkit-input-placeholder {
  opacity: 1;
  text-align: center;
  font-size: 1.1em;
  color: #383838;
}

.location-box input:-ms-input-placeholder {
  opacity: 1;
  text-align: center;
  font-size: 1.1em;
  color: #383838;
}

.location-box input::-ms-input-placeholder {
  opacity: 1;
  text-align: center;
  font-size: 1.1em;
  color: #383838;
}

.location-box input::placeholder {
  opacity: 1;
  text-align: center;
  font-size: 1.1em;
  color: #383838;
}

@media (min-width: 1024px) {
  .location-box input::-webkit-input-placeholder {
    text-align: left;
    background-color: #eaeaea;
  }
  .location-box input:-ms-input-placeholder {
    text-align: left;
    background-color: #eaeaea;
  }
  .location-box input::-ms-input-placeholder {
    text-align: left;
    background-color: #eaeaea;
  }
  .location-box input::placeholder {
    text-align: left;
    background-color: #eaeaea;
  }
}

.location-box input:focus {
  outline: none;
}

@media (min-width: 1024px) {
  .location-box {
    width: 50%;
    background: #fff;
    height: 60px;
  }
}

main {
  position: relative;
}

.reservation {
  height: 300px;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .reservation {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 0 0 20px 20px;
  }
}

.reservation__body {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .reservation__body {
    width: 92%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: auto;
  }
}

.reservation__title {
  width: 90%;
}

.reservation__title--h1 {
  width: 70%;
  font-size: 1.5em;
  text-align: center;
  font-family: "Roboto-bold";
}

@media (min-width: 1024px) {
  .reservation__title--h1 {
    width: 100%;
    text-align: left;
  }
}

.reservation__title--h2 {
  font-size: 1.1em;
  text-align: center;
  font-family: "Roboto-light";
}

@media (min-width: 1024px) {
  .reservation__title--h2 {
    width: 100%;
    text-align: left;
  }
}

.reservation a {
  width: 60%;
}

@media (min-width: 1024px) {
  .reservation a {
    width: 25%;
  }
}

.operating {
  height: 350px;
  width: 90%;
  margin: 40px auto auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1024px) {
  .operating {
    width: 40%;
    margin: auto;
    position: absolute;
    top: 2%;
    right: 3%;
    height: 250px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
  }
}

.operating__title {
  font-family: "Roboto-bold";
  font-size: 1.5em;
}

@media (min-width: 1024px) {
  .operating__title {
    display: none;
  }
}

.operating__body {
  height: 80%;
}

@media (min-width: 1024px) {
  .operating__body {
    width: 50%;
  }
}

.operating__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.operating__list li {
  width: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-family: "Roboto-bold";
  cursor: default;
}

@media (min-width: 1024px) {
  .operating__list li {
    margin-left: 0;
    width: 100%;
    height: 50px;
  }
}

.operating__list li span {
  height: 25px;
  width: 25px;
  font-size: 0.9em;
  border-radius: 50%;
  color: #fff;
  background-color: #9356dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: -12px;
}

.operating__list li i {
  width: 50px;
  margin-left: -10px;
  font-size: 20px;
  color: #848484;
}

.restaurants {
  margin-top: 40px;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .restaurants {
    border-radius: 20px 20px 0 0;
  }
}

.restaurants__title {
  width: 90%;
  height: 50px;
  margin-top: 40px;
  font-family: "Roboto-bold";
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .restaurants__title {
    width: 93%;
  }
}

.restaurants__list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 30px;
}

@media (min-width: 576px) {
  .restaurants__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 50px;
    width: 98%;
  }
}

.restaurants__list a {
  text-decoration: none;
  color: #000;
}

@media (min-width: 576px) {
  .restaurants__list a {
    width: 50%;
  }
}

.restaurants__list-figure {
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 10px #d1d1d1;
          box-shadow: 0 5px 10px #d1d1d1;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  position: relative;
}

.restaurants__list-figure:hover {
  -webkit-box-shadow: 0 0 15px #777777;
          box-shadow: 0 0 15px #777777;
}

.restaurants__list-figure--new span {
  font-size: 0.85em;
  font-family: "Roboto-medium";
  width: 25%;
  height: 30px;
  position: absolute;
  top: 5%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #2c9c81;
  -webkit-box-shadow: 0 1px 1px #d1d1d1;
          box-shadow: 0 1px 1px #d1d1d1;
}

.restaurants__list-figure img {
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 100%;
     object-position: 0 100%;
}

.restaurants__list-figure img.img-align {
  -o-object-position: 0 60%;
     object-position: 0 60%;
}

.restaurants__list-figure figcaption {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants__list-figure figcaption p {
  margin-left: 10px;
  height: 100%;
  width: 50%;
  font-size: 1.2em;
  line-height: 25px;
  font-family: "Roboto-light";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants__list-figure figcaption p strong {
  font-family: "Roboto-bold";
}

.restaurants__list-figure figcaption label {
  -webkit-text-stroke: 1px black;
  color: #fff;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 100%;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.restaurants__list-figure figcaption label:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.restaurants__list-figure figcaption input[type="checkbox"].heart_fav {
  display: none;
}

.restaurants__list-figure figcaption input[type="checkbox"].heart_fav + label::before {
  font-family: "FontAwesome";
  content: "\f004";
  font-size: 1.2em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurants__list-figure figcaption input[type="checkbox"].heart_fav:checked + label::before {
  -webkit-animation: fade 1s;
          animation: fade 1s;
  background-image: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes fadeslide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeslide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spinner-after {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  99% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spinner-after {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  99% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spinner-while {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spinner-while {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.restaurant-picture img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-main {
  background-color: whitesmoke;
}

.menu-list {
  width: 100%;
  background: whitesmoke;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -45px;
}

.menu-list__header {
  height: 100px;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4em;
}

.menu-list__header__title {
  font-family: "Shrikhand";
  font-size: 1.3em;
}

.menu-list__header label {
  -webkit-text-stroke: 1px black;
  color: #fff;
  font-size: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  height: 100%;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.menu-list__header label:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu-list__header input[type="checkbox"].heart_fav {
  display: none;
}

.menu-list__header input[type="checkbox"].heart_fav + label::before {
  font-family: "FontAwesome";
  content: "\f004";
  font-size: 1.2em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-list__header input[type="checkbox"].heart_fav:checked + label::before {
  -webkit-animation: fade 1s;
          animation: fade 1s;
  background-image: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-list__content {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1024px) {
  .menu-list__content {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
  }
}

.menu-list__content__items {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 15px;
}

@media (min-width: 1024px) {
  .menu-list__content__items {
    width: 33%;
  }
}

.menu-list h2 {
  border-bottom: 3px solid #99e2d0;
  text-transform: uppercase;
  width: 39px;
  height: 20px;
  margin-left: 18px;
}

.menu-list a {
  text-decoration: none;
  color: #000;
  overflow: hidden;
}

.btn1 {
  -webkit-animation: fadeslide 1s;
          animation: fadeslide 1s;
}

.btn2 {
  -webkit-animation: fadeslide 1.5s;
          animation: fadeslide 1.5s;
}

.btn3 {
  -webkit-animation: fadeslide 2s;
          animation: fadeslide 2s;
}

.btn4 {
  -webkit-animation: fadeslide 2.5s;
          animation: fadeslide 2.5s;
}

.order {
  background-color: whitesmoke;
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order a {
  width: 50%;
}
/*# sourceMappingURL=main.css.map */