@import "../Utils/functions";
@import "../Components/buttons";

.reservation {
  height: 300px;
  background-color: id-colors(light-global-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  &__body {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &__title {
    width: 90%;
    &--h1 {
      width: 70%;
      font-size: 1.5em;
      text-align: center;
      font-family: "Roboto-bold";
    }
    &--h2 {
      font-size: 1.1em;
      text-align: center;
      font-family: "Roboto-light";
    }
  }
  a {
    width: 60%;
  }
}

.operating {
  border: 1px solid red; /**/

  height: 400px;
  width: 90%;
  margin: 20px auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__title {
    font-family: "Roboto-bold";
    font-size: 1.5em;
  }
  &__body {
    height: 70%;
  }
  &__list {
    height: 100%;
    border: 1px solid blue; /**/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    li {
      width: 96%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-left: auto;
      span {
        height: 25px;
        width: 25px;
        font-size: 0.9em;
        border-radius: 50%;
        color: id-colors(white);
        background-color: id-colors(primary);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 5%;
      }
      i {
        border: 1px solid red;
        width: 20%;
        font-size: 1.2em;
      }
    }
  }
}
