footer {
  background-color: id-colors(dark-global-grey);
  color: id-colors(white);
  height: 195px;
  h2 {
    width: 90%;
    height: 60px;
    margin: auto;
    font-family: "Shrikhand";
    font-size: 1.2em;
    display: flex;
    align-items: center;
  }
  .footer__elements {
    width: 90%;
    height: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    i {
      text-align: left;
      width: 30px;
    }
    a {
      text-decoration: none;
      color: id-colors(white);
    }
  }
}
