@import "../Utils/functions";
@import "../Utils/mixins";

header {
  position: relative;
  width: set-width(full);
  a {
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 2;
  }
  i {
    font-size: 1.1em;
    color: id-colors(dark-global-grey);
  }
  .logo {
    position: relative;
    height: 60px;
    width: set-width(full);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0 5px 5px -5px id-colors(l-dark-global-grey);
    @include small-desktop {
      box-shadow: 0 0 0 0;
    }
    img {
      height: 30px;
      width: 160px;
      margin: auto;
    }
  }
  @include small-desktop {
    width: set-width(half);
  }
}
