.btn {
  text-decoration: none;
  height: 50px;
  border-radius: 25px;
  color: id-colors(white);
  background-image: linear-gradient(id-colors(secondary), id-colors(primary));
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px id-colors(l-dark-global-grey);
  @include small-desktop {
    border-radius: 10px;
    max-width: 400px;
  }
  &:hover {
    background-image: linear-gradient(
      id-colors(light-secondary),
      id-colors(light-primary-b)
    );
    box-shadow: 0 5px 5px lighten(id-colors(dark-global-grey), 30%);
  }
}

.operating-btn {
  height: 75px;
  background-color: id-colors(light-global-grey);
  border-radius: 20px;
  @include small-desktop {
    border-radius: 10px;
  }
  box-shadow: 0 5px 10px id-colors(l-dark-global-grey);
  &:hover {
    background-color: id-colors(light-primary);
    & > i {
      color: id-colors(primary);
    }
  }
}

.menu-btn {
  height: 70px;
  background: id-colors(white);
  box-shadow: 0 5px 10px id-colors(l-dark-global-grey);
  border-radius: 15px;
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
  cursor: pointer;
  &__text {
    white-space: nowrap;
    margin-left: 10px;
    min-width: 50%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    strong {
      width: 100%;
      overflow: hidden;
      height: 20px;
      text-overflow: ellipsis;
      font-family: "Roboto-bold";
      font-size: 1.1em;
    }
    p {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 25px;
    }
  }
  span {
    font-family: "Roboto-bold";
    align-self: flex-end;
    margin-bottom: 18px;
    margin-right: 20px;
    margin-left: 20px;
    width: 20%;
    text-align: right;
  }
  .cont {
    background-color: id-colors(tertiary);
    color: id-colors(tertiary);
    min-width: 70px;
    margin-right: -70px;
    height: 100%;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms linear;
    i {
      background-color: #fff;
      width: 25px;
      height: 25px;
      border: 2px solid #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(180deg);
      transition: all 0.5s;
      transition-delay: 250ms;
    }
  }
  &:hover > .cont {
    margin: 0;
  }
  &:hover > .cont i {
    transform: rotate(0deg);
  }
  &:focus {
    outline: none;
  }
}
