.btn {
  text-decoration: none;
  height: 50px;
  border-radius: 25px;
  color: id-colors(white);
  background-image: linear-gradient(id-colors(secondary), id-colors(primary));
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px id-colors(l-dark-global-grey);
}

.operating-btn {
  height: 75px;
  background-color: id-colors(light-global-grey);
  border-radius: 20px;
  box-shadow: 0 5px 5px id-colors(l-dark-global-grey);
}
