@font-face {
  font-family: "Roboto";
  src: url("../media/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../media/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-light";
  src: url("../media/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-medium";
  src: url("../../media/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Shrikhand";
  src: url("../media/fonts/Shrikhand/Shrikhand-Regular.ttf");
}
