@font-face {
  font-family: "Roboto";
  src: url("../media/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../media/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-light";
  src: url("../media/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-medium";
  src: url("../media/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Shrikhand";
  src: url("../media/fonts/Shrikhand/Shrikhand-Regular.ttf");
}

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}
